<nav class="navbar shadow fixed-top navbar-expand-lg background-navbar">
  <div class="container-fluid container">
    <a class="navbar-brand" href="#">
      <img src="assets/images/airplane2.jpg" alt="" width="150" height="100" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="justify-content-xl-end">
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul
          class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
          style="--bs-scroll-height: 100px"
        >
          <li class="nav-item">
            <a class="nav-link text-white active" aria-current="page" href="#"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Check-in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Destinations</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
