<app-header></app-header>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-11">
      <div class="card mt-xl-3 shadow border-0 rounded">
        <div class="card-body">
          <h1 class="card-title mt-xl-3 principal-title">Flights</h1>
          <form class="custom-form" [formGroup]="form">
            <div class="mt-xl-4 mt-lg-4 mt-md-4 mt-sm-4 mt-4">
              <mat-radio-group
                aria-label="Select an option"
                formControlName="level"
              >
                <mat-radio-button [value]="0">Round trip</mat-radio-button>
                <mat-radio-button [value]="1">One way</mat-radio-button>
                <mat-radio-button [value]="2">Multi city</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="mt-xl-5 mt-lg-5 mt-md-5 mt-sm-5 mt-5">
              <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                  <h5 class="subtitle">
                    <i class="fa-solid fa-plane-departure"></i> Origin
                  </h5>
                  <div>
                    <input
                      class="form-control"
                      type="text"
                      formControlName="origin"
                      placeholder="Origin"
                      aria-label="Origin"
                      maxlength="3"
                    />
                    <p
                      *ngIf="form.hasError('checkOrigin')"
                      class="text-danger mt-xl-2 mt-lg-2 mt-md-2 mt-sm-1 mt-1"
                    >
                      Origin and destination cannot be the same
                    </p>
                  </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                  <h5 class="subtitle">
                    Destination <i class="fa-solid fa-plane-arrival"></i>
                  </h5>
                  <input
                    class="form-control"
                    type="text"
                    formControlName="destination"
                    placeholder="Destination"
                    aria-label="destination"
                    maxlength="3"
                  />
                  <p
                    *ngIf="form.hasError('checkOrigin')"
                    class="text-danger mt-xl-2 mt-lg-2 mt-md-2 mt-sm-1 mt-1"
                  >
                    Origin and destination cannot be the same
                  </p>
                </div>
                <div class="col-xl-2">
                  <h5 class="subtitle">
                    <i class="fa-solid fa-dollar-sign"></i> Currency
                  </h5>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    formControlName="currency"
                  >
                    <option
                      *ngFor="let item of currency"
                      value="{{ item.rate }}"
                    >
                      {{ item.money }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div
              class="d-grid gap-2 col-6 mx-auto mt-xl-5 mt-lg-5 mt-md-3 mt-sm-3 mt-3"
            >
              <button
                class="btn btn-blue rounded-pill"
                type="button"
                (click)="submit()"
              >
                Search <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
      <app-flights></app-flights>
      <app-top-most-searched></app-top-most-searched>
    </div>
  </div>
</div>
